
.myTable {
    border-collapse: collapse;
}

.myTable td, .myTable th {
    border: 1px solid black;
    padding: 10px;
}

.myTable th:hover {
    cursor: pointer;
}

.thDiv {
    width: 10px;
    height: 0;
    font-size: 0;
    line-height: 0;
    float: right;
    margin-top: 7px;
    margin-left: 2px;
}

.myTable th .arrow_revert {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    float: right;
    margin-top: 7px;
    margin-left: 2px;
}

.myTable th .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /* border-top: 5px solid #2f2f2f; */
    border-bottom: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    float: right;
    margin-top: 7px;
    margin-left: 2px;
}

.pagination {
    padding: 10px;
}

.pagination a {
    padding: 10px;
}

.pagination a.active {
    background: lightgray;
}