<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
Набор данных 
<form name="myForm2">
    <label ng-repeat="(key, value) in dataSets" >
        <input type="radio" name="dataSetId" ng-model="$parent.dataSetId" value="{{value.id}}" ng-change="loadData()" >{{value.name}}
    </label>
</form>
                        
<table class="myTable">
    <tr>
        <th ng-repeat="(key, value) in data[0]">{{value}}</th>
    </tr>
    <tr ng-if="$index > 0" ng-repeat="(key, arr) in data">
        <td ng-repeat="(key, value) in arr">{{value}}</td>
    </tr>
</table>