
Набор данных 
<form name="myForm2">
    <label ng-repeat="(key, value) in dataSets" >
        <input type="radio" name="dataSetId" ng-model="$parent.dataSetId" value="{{value.id}}" ng-change="loadData()" >{{value.name}}
    </label>
</form>
                 
<input ng-model="filterText" type="text" ng-show="loaded" placeholder="Поиск..." ng-change="filterByText()" />
<table class="myTable">
    <tr>
        <th ng-click="sortThisColumn($index)" ng-repeat="(key, value) in headData" >
            <span>{{value}}</span> 
            <span class="thDiv" ng-if="sortColumn !== $index" ></span>
            <span class="arrow" ng-if="sortColumn === $index && !sortRevert" ></span> 
            <span class="arrow_revert" ng-if="sortColumn === $index && sortRevert" ></span> 
        </th>
    </tr>
    <tr ng-click="selectRow(arr, $event)" ng-repeat="(key, arr) in data | limitTo: limit : begin">
        <td ng-repeat="(key, value) in arr">{{value}}</td>
    </tr>
</table>

<div>Выбрано: {{selectedText}}</div>

<div class="pagination" ng-show="loaded && countPages > 1">
    <a href="#" ng-click="prevPage()"><<</a>
    <a ng-class="{'active': n === currentPage}" 
       ng-repeat="n in range(1, countPages)" href="#" ng-click="selectPage(n)" >{{n}}</a>
    <a href="#" ng-click="nextPage()">>></a>
</div>

<br/>